{% extends 'base.html' %}

{% block content %}

    {% for notification in notifications %}
        <div class="card mt-5">
            <div class="card-header">
                {{notification}}
                <div class="float-right">
                    <a href="{% url 'notifications:mark_as_read' notification.slug %}">Mark Read</a>
                </div>
            </div>
            <div class="card-body">
                {{notification.actor}}
                {{notification.verb}}
                {% if notification.action_object %}
                    <a href="{{notification.action_object.get_absolute_url}}">{{notification.action_object}}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}