<form class="form" action="{% url 'accounts:change_password' %}" method="POST">
    {% csrf_token %}
    {% include 'generic/form.html' %}
    <button class="btn btn-default float-right pr-5 pl-5">Save</button>
</form>