{% if edit_profile_form.errors %}
    <div class="alert alert-danger">{{edit_profile_form.errors|escape}}</div>
{% endif %}
<form class="form" method="POST" action="{% url 'accounts:edit_profile_view' %}">
    {% csrf_token %}
    {{ edit_profile_form.as_p }}
    <button class="btn btn-default pl-5 pr-5">Save</button>
</form>