<!-- Form -->
<form class="text-center" style="color: #757575;" action="{% url 'accounts:login_view' %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">Login failed!</div>
    {% endif %}
    <!-- Username -->
    <div class="md-form">
        <input type="text" id="username" class="form-control" name="username">
        <label for="username">Username</label>
    </div>

    <!-- Password -->
    <div class="md-form">
        <input type="password" id="password" class="form-control" name="password">
        <label for="password">Password</label>
    </div>

    <div class="d-flex justify-content-around">
        <div>
            <a href="{% url 'accounts:reset_password' %}">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
        Sign in
    </button>

    <!-- Register -->
    <p>Not a member?
        <a href="{% url 'accounts:signup_view' %}">Register</a>
    </p>
</form>
<!-- Form -->