{% if form.errors %}
    <div class="alert alert-danger">{{ form.errors|escape }}</div>
{% endif %}

<!-- Form -->
<form class="text-center" style="color: #757575;" action="{% url 'accounts:reset_password' %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">Login failed!</div>
    {% endif %}
    <!-- Email -->
    <div class="md-form">
        <input type="email" id="email" class="form-control" name="email">
        <label for="email">E-Mail</label>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
        Reset Password
    </button>

    <!-- Register -->
    <p>Already have an Account?
        <a href="{% url 'accounts:login_view' %}">Login</a>
    </p>
</form>
<!-- Form -->