{% if form.errors %}
    <div class="alert alert-danger">{{ form.errors|escape }}</div>
{% endif %}

<!-- Form -->
<form class="text-center" style="color: #757575;" action="{% url 'accounts:login_view' %}" method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">Login failed!</div>
        {% endif %}
        <!-- Email -->
        <div class="md-form">
            <input type="text" id="username" class="form-control" name="username">
            <label for="username">Username</label>
        </div>
    
        <!-- Email  -->
        <div class="md-form">
                <input type="email" id="email" class="form-control" name="email">
                <label for="email">E-Mail</label>
            </div>

        <!-- Password -->
        <div class="md-form">
            <input type="password" id="password1" class="form-control" name="password1">
            <label for="password1">Password</label>
        </div>
    
        <!-- Password2 -->
        <div class="md-form">
                <input type="password" id="password2" class="form-control" name="password2">
                <label for="password2">Password (again) </label>
            </div>

        <div class="d-flex justify-content-around">
            <div>
                <a href="{% url 'accounts:reset_password' %}">Forgot password?</a>
            </div>
        </div>
    
        <!-- Sign in button -->
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
            Sign up
        </button>
    
        <!-- Register -->
        <p>Already have an Account?
            <a href="{% url 'accounts:login_view' %}">Login</a>
        </p>
    </form>
    <!-- Form -->