{% if upload_user_avatar_form.errors %}
    <div class="alert alert-danger">{{upload_user_avatar_form.errors|escape}}</div>
{% endif %}
<form method="POST" enctype="multipart/form-data" action={# url 'upload_user_avatar' #}>
    {% csrf_token %}
    {{ upload_user_avatar_form.as_p }}
    <button class="btn btn-default float-right" type="submit">Upload</button>
</form>