<div class="card card-cascade narrower">

    <!--Section: Chart-->
    <section>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-xl-5 col-md-12 mr-0">
                <!--Card image-->
                <div class="view view-cascade gradient-card-header primary-color">
                    <h4 class="h4-responsive mb-0 font-weight-bold">Projects</h4>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade pb-0">

                    <!--Panel data-->
                    <div class="row card-body pt-3">
                        <!--First column-->
                        <div class="col-md-12">
                            <h4>Projects: {{ all_projects }}</h4>
                            <h4>Closed Projects: 0</h4>
                        </div>
                        <!--/First column-->
                    </div>
                    <!--/Panel data-->

                </div>
                <!--/.Card content-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-xl-7 col-md-12 mb-4">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header primary-color">
                    <h4 class="h4-responsive mb-0 font-weight-bold">Upcoming Projects</h4>

                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Due Date</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for project in upcoming_projects %}
                                <tr>
                                    <td>{{ project.due_date }}</td>
                                    <td>{{ project.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if not upcoming_projects %}
                        <div class="alert alert-info">No upcoming projects!</div>
                    {% endif %}
                </div>
                <!--/Card image-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Chart-->
</div>