<section class="mt-5 wow fadeIn">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div id="top_bug_bounty_vuln_types_chart" class="loader img-fluid z-depth-1-half"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Most discovered Vulnerabilities</h3>
            <p>See which types of vulnerabilities our bug-hunters found most during their research.</p>
            <!-- Main heading -->

            <!-- CTA -->
            <a href="{% url 'bug_bounty_index' %}" class="btn btn-grey btn-md">More
                <i class="fa fa-image ml-1"></i>
            </a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Main info-->