<!--Section: More-->
<section>

    <h2 class="my-5 h3 text-center">How it works</h2>

    <!--First row-->
    <div class="row features-small mt-5 wow fadeIn">

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2 pl-3">
                    <h5 class="feature-title font-bold mb-1">Cross-browser compatibility</h5>
                    <p class="grey-text mt-2">Chrome, Firefox, IE, Safari, Opera, Microsoft Edge - MDB loves
                        all browsers; all browsers love MDB.
                    </p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-level-up fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">Frequent updates</h5>
                    <p class="grey-text mt-2">MDB becomes better every month. We love the project and enhance
                        as much as possible.
                    </p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-comments-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">Active community</h5>
                    <p class="grey-text mt-2">Our society grows day by day. Visit our forum and check how it is
                        to be a part of our family.
                    </p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">jQuery 3.x</h5>
                    <p class="grey-text mt-2">MDB is integrated with newest jQuery. Therefore you can use all
                        the latest features which come along with
                        it.
                    </p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

    </div>
    <!--/First row-->

    <!--Second row-->
    <div class="row features-small mt-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">Modularity</h5>
                    <p class="grey-text mt-2">Material Design for Bootstrap comes with both, compiled, ready to
                        use libraries including all features as
                        well as modules for CSS (SASS files) and JS.</p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">Technical support</h5>
                    <p class="grey-text mt-2">We care about reliability. If you have any questions - do not
                        hesitate to contact us.
                    </p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">Flexbox</h5>
                    <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment
                        issues.</p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-file-code-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">SASS files</h5>
                    <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you
                        compile them.</p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

    </div>
    <!--/Second row-->

</section>
<!--Section: More-->