<section>

    <h3 class="h3 text-center mb-5">Top Bug-Hunters</h3>

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
                <div class="col-1 mr-3">
                    <i class="fa fa-lock fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Secure the Web</h5>
                    <p class="grey-text">Our Bug-Hunters offer their free time to secure the web.</p>
                </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
                <div class="col-1 mr-3">
                    <i class="fa fa-credit-card fa-2x blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Donations</h5>
                    <p class="grey-text">
                        We believe that our Bug-Hunters are doing an important job. They dont get payed for their work, so we provide various types 
                        for donations.
                    </p>
                </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>


        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">

                <div id="top_bug_bounty_users_chart" class="mx-auto loader"></div>

        </div>
        <!--/Grid column-->

    </div>
    <!--/Grid row-->

</section>