<section>

    <h3 class="h3 text-center mb-5">Most vulnerable domains</h3>

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-8 col-md-12">
            <div id="most_vulnerable_domains_chart" class="mx-auto loader"></div>
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 px-4">

            <!--First row-->
            <div class="row">
                <div class="col-1 mr-3">
                    <i class="fa fa-bolt fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Disclosed Vulnerabilities</h5>
                    <p class="grey-text">
                        Technical details of vulnerabilities that were not fixed until disclosure deadline is reached are getting published.
                        These could be easily exploited by hackers.
                    </p>
                </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row
            <div class="row">
                <div class="col-1 mr-3">
                    <i class="fa fa-credit-card fa-2x blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Lorem ipsum</h5>
                    <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Curabitur efficitur mauris vitae augue mattis porta. Nullam eget ornare leo. 
                            Maecenas metus magna, molestie quis quam at, aliquet congue metus. Praesent sed dui risus. Cras lectus risus, fringilla id quam a, tempor rhoncus turpis.
                    </p>
                </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>


        </div>
        <!--/Grid column-->



    </div>
    <!--/Grid row-->

</section>