{% load widget_tweaks %}

<form class="form" action="{% url 'todoz:edit_task' task.pk %}" method="POST">
    {% csrf_token %}
    {% include 'generic/form.html' %}
    <button class="btn btn-primary float-right pr-5 pl-5">Submit</button>
</form>