    <section class="my-5">
        <div class="card-header border-0 font-weight-bold">{{ vuln.comment_set.all|length }} comment(s)</div>

        {% if vuln.disclosed or vuln.user == request.user or request.session.is_domain_owner == vuln.pk|slugify %}
            {% for comment in vuln.comment_set.all %}
                <div class="media d-block d-md-flex mt-4">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="font-weight-bold mt-0">
                            {% if comment.creator %}
                                <a href="{% url 'accounts:user_profile' comment.creator.pk %}">{{ comment.creator.username }}</a>
                            {% else %}
                                <a>Domain-Owner</a>
                            {% endif %}
                            <a href="javascript:alert('not implemented');" class="pull-right">
                                <i class="fa fa-reply"></i>
                            </a>
                        </h5>
                        {{ comment.message|linebreaksbr }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info mt-3">Comments are not public yet!</div>
        {% endif %}

        <div class="mt-3">
            {% include 'bug_bounty_mode/forms/new_comment_form.html' %}
        </div>
    </section>


