{% extends 'base_no_sidebar.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}

{% block extra_head %}

<style type="text/css">

    .view,
    body,
    html {
        height: 100%
    }

    .carousel {
        height: 50%
    }

    .carousel .carousel-inner,
    .carousel .carousel-inner .active,
    .carousel .carousel-inner .carousel-item {
        height: 100%
    }

    @media (max-width:776px) {
        .carousel {
            height: 100%
        }
    }


    .carousel {
        height: 60vh;
    }

    @media (max-width: 740px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }


</style>
{% endblock extra_head %}


{% block header_content %}
    {% include 'public_pages/sections/half_carousel.html' %}
{% endblock header_content %}


{% block content %}

        {% include 'public_pages/sections/index/first_row.html' %}
        
        <hr class="my-5">

        {% include 'public_pages/sections/index/second_row.html' %}

        <hr class="my-5">

        {% include 'public_pages/sections/index/third_row.html' %}
        <hr class="mb-5">

        {# include 'public_pages/sections/index/fourth_row.html' #}

{% endblock content %}


{% block extra_scripts %}
    <script src="{% static 'js/highcharts.js' %}"></script>

    {% include 'stats/charts/top_bug_bounty_vuln_types_chart.html' %}
    {% include 'stats/charts/top_bug_bounty_users_chart.html' %}
    {% include 'stats/charts/most_vulnerable_domains_chart.html' %}
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
{% endblock extra_scripts %}