{% load widget_tweaks %}

{% for field in form %}
    {% if field.field.widget.input_type == "checkbox" %}
        <div class="form-check">
            {% render_field field class="form-check-input" %}
            <label class="form-check-label" for="{{field.auto_id}}">{{field.label}}</label>
        </div>
    {% elif field.field.widget.input_type == "select" %}
        {{ field.label_tag }}
        {% render_field field class="browser-default custom-select" %}
    {% elif field|widget_type == "textarea" %}
        <div class="md-form">
            {{ field.label_tag }}
            {% if field.help_text %}
                <i class="fa fa-question-circle float-right" data-toggle="tooltip" title="{{ field.help_text}}"></i>
            {% endif %}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control md-textarea is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control md-textarea is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control md-textarea" %}
            {% endif %}
        </div>
    {% elif field|widget_type == "dateinput" %}
        <div class="md-form">
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid datepicker" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid datepicker" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control datepicker" %}
            {% endif %}
            {{ field.label_tag }}
            {% if field.help_text %}
                <i class="fa fa-question-circle float-right" data-toggle="tooltip" title="{{ field.help_text}}"></i>
            {% endif %}
        </div>
    {% else %}
        <div class="md-form">
            {{ field.label_tag }}
            {% if field.help_text %}
                <i class="fa fa-question-circle float-right" data-toggle="tooltip" title="{{ field.help_text}}"></i>
            {% endif %}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<script>
        // Material Select Initialization
        $(document).ready(function() {
         $('.mdb-select').materialSelect();
        });
        </script>