<!-- Timeline -->
<div class="row">
    <div class="col-md-12">
        <div class="timeline-main">
            <!-- Timeline Wrapper -->
            <ul class="stepper stepper-vertical timeline timeline-simple pl-0">
                {% for activity in activities %}
                    {% if forloop.counter0|divisibleby:2 == 0 %}
                        <li class="timeline-inverted">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle grey"></span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content mr-xl-3 p-4 hoverable">
                                <h4 class="font-weight-bold">{{ activity.title }}</h4>
                                <p class="text-muted mt-3"><i class="fa fa-clock-o"
                                                              aria-hidden="true"></i> {{ activity.created_at }}
                                    by {{ activity.user }}</p>
                                <p class="mb-0">{{ activity.message }}</p>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle grey"></span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content ml-3 p-4 hoverable">
                                <h4 class="font-weight-bold">{{ activity.title }}</h4>
                                <p class="text-muted mt-3"><i class="fa fa-clock-o"
                                                              aria-hidden="true"></i> {{ activity.created_at }}
                                    by {{ activity.user }}</p>
                                <p class="mb-0">{{ activity.message }}</p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if not activities %}
                    <div class="alert alert-info">No Activities yet!</div>
                {% endif %}
            </ul>
            <!-- Timeline Wrapper -->
        </div>
    </div>
</div>
<!-- Timeline -->