{% load staticfiles %}
<!--First slide-->
{% if counter == 0 %}
    <div class="carousel-item active">
{% else %}
    <div class="carousel-item">
{% endif %}
    <div class="view" style="background-image: url('{% static ""%}img/public/{{ item.image }}'); background-repeat: no-repeat; background-size: cover;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                    <strong>{{ item.header }}</strong>
                </h1>

                <p>
                    <strong>{{ item.content|linebreaksbr }}</strong>
                </p>

                <!--<a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-outline-white btn-lg">Start
                    free tutorial
                    <i class="fa fa-graduation-cap ml-2"></i>
                </a>-->
            </div>
            <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->
    </div>
</div>
<!--/First slide-->