{% extends 'base_no_sidebar.html' %}

{% block title %}Change Email{% endblock title %}

{% block content %}
    <!-- IMPROVE THIS SITE COMPLETLY -->
    <main>
        <div class="container">
            {% include 'accounts/forms/change_email_address_form.html' %}
        </div>
    </main>

{% endblock content %}