{% extends 'base_no_sidebar.html' %}

{% block title %}Change Password{% endblock title %}


{% block content %}
    <!-- Improve this template -->
    <main>
        <div class="container">
            {% include 'accounts/forms/change_password_form.html' %}
        </div>
    </main>
{% endblock content %}