{% extends 'accounts/base/base.html' %}

{% block title %}Login{% endblock title %}

{% block content_right %}

    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Sign in</strong>
        </h5>
    
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            {% include 'accounts/forms/login_form.html' %}
        </div>
    </div>
    <!-- Material form login -->
{% endblock content_right %}