{% extends 'accounts/base/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content_right %}
    <div class="card rounded">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Lost Password</strong>
        </h5>    
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            {% include 'accounts/forms/password_reset_form.html' %}
        </div>
    </div>
{% endblock content_right %}
