{% extends 'accounts/base/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content_right %}

    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Sign up</strong>
        </h5>
    
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            {% if not registration_enabled %}
                <div class="alert alert-warning mt-3">Registration disabled!</div>
                or <a href="{% url 'accounts:login_view' %}">Login</a>
            {% else %}
                {% include 'accounts/forms/signup_form.html' %}
            {% endif %}
        </div>
    </div>
    <!-- Material form login -->
{% endblock content_right %}