{% extends 'base_no_sidebar.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <h3>{% trans "Vulnerabilities from" %} <a href="{% url 'user_profile' user.pk %}">{{ user.username }}</a>:</h3>
    <table class="table table-hover table-striped mt-5">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Severity" %}</th>
                <th>{% trans "Project" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vuln in user.profile.get_vulnerabilities %}
                <tr>
                    <td>
                        <a href="{% url 'single_vuln' vuln.service.host.pk vuln.service.pk vuln.pk %}" class="text-dark">{{vuln}}</a>
                    </td>
                    <td>{{vuln.severity}}</td>
                    <td>{{vuln.service.host.project.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
                    
{% endblock content %}
