{% extends 'base_no_sidebar.html' %}
{% load gravatar %}
{% load pinax_badges_tags %}
{% block title %}{{user.username}}{% endblock title %}


{% block content %}
    <div class="classic-tabs">
        <!-- Nav tabs -->
        <div class="tabs-wrapper">
            <ul class="nav tabs-blue" role="tablist">
                <li class="nav-item">
                    <a class="nav-link waves-light waves-effect waves-light active show" data-toggle="tab" href="#panel36" role="tab" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel37" role="tab" aria-selected="false">Awards</a>
                </li>
            </ul>
        </div>
        <!-- Tab panels -->
        <div class="tab-content card">
            <!--Panel 1-->
            <div class="tab-pane fade in active show" id="panel36" role="tabpanel">
                {% include 'accounts/sections/profile/profile_tab_content.html' %}
            </div>
            <!--/.Panel 1-->
            <!--Panel 2-->
            <div class="tab-pane fade" id="panel37" role="tabpanel">
                {% include 'accounts/sections/profile/user_badges.html' %}
            </div>
            <!--/.Panel 2-->
        </div>
    </div>
{% endblock content %}