<div class="row">
    <div class="col-sm-12">
        <div class="clearfix">
            <a href="" class="text-dark float-left">{{ comment.user }}</a>
            <small class="float-right">{{ comment.created_at }}</small>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-12">
        {{ comment.formatted_markdown|safe }}
    </div>
</div>