{% if not tasks %}
    <div class="alert alert-info mt-5">No Tasks here </div>
{% endif %}

<div class="list-group mt-5">
    {% for task in tasks %}
        <a class="list-group-item list-group-item-action" href="{% url 'todoz:single_task' task.pk %}">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="float-left">
                        {{ task.title }}
                    </div>
                    <div class="float-right">
                        <i class="fa fa-comments"></i>0
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <div class="float-left">
                        <small>Opened at {{ task.created_at }} by {{ task.creator }}</small>
                    </div>
                    <div class="float-right">
                        <small>Updated at {{ task.updated_at }}</small>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>