<section class="my-3">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
            <!-- Newsfeed -->
            <div class="mdb-feed">

                {% if not user.activities.all %}
                    <div class="alert alert-info">No Activities yet!</div>
                {% endif %}
                {% for activity in user.activities.all|slice:":15" %}
                    <div class="news">
                        <div class="excerpt">
                            <!-- Brief -->
                            <div class="brief">
                                <a class="name">{{ user.username }}</a>
                                <div class="date">{{ activity.created_at|timesince }} ago</div>
                            </div>
                            <!-- Added text -->
                            <div class="added-text">
                                {{ activity.message }}
                            </div>
                            <!-- Feed footer -->
                            <div class="feed-footer">
                                <a class="like">
                                    <i class="fa fa-info"></i>
                                    {% if activity.pentestingactivity %}
                                        <span>Pentesting</span>
                                    {% elif activity.bugbountyactivity %}
                                        <span>Bug-Bounty</span>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <!-- Excerpt -->
                    </div>
                {% endfor %}
            </div>
            <!-- Newsfeed -->
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
</section>
