{% extends 'base_no_sidebar.html' %}
{% load i18n %}

{% block title %}{{blog.title}}{% endblock title %}

{% block content %}

    {% include 'blogging/blog_heading.html' %}

    {% if not posts|length %}
        <div class="alert alert-warning">{% trans "No Posts created for this blog!" %}</div>
    {% endif %}

    {% for post in posts %}
        <div class="card mt-5">
            <div class="card-header">
                <a href="{{ post.get_absolute_url }}">
                    {{post.title}}
                </a>
            </div>
            <div class="card-body">
                {{ post.formatted_markdown|truncatewords:"50"|safe }}
                {% if post.formatted_markdown|safe|wordcount > 50 %}
                    <br />
                    <a href="{{ post.get_absolute_url }}" class="btn btn-info">
                        {% trans "Continue Reading" %}
                        <i class="fa fa-long-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
            <div class="card-footer">
                <small>
                    posted on {{post.created_at}} by
                    <a href="{% url 'accounts:user_profile' blog.user.pk %}">{{blog.user.username}}</a>
                </small>
            </div>
        </div>
    {% endfor %}

    {% include 'generic/paginator.html' %}
{% endblock content %}