{% extends 'base_no_sidebar.html' %}
{% load i18n %}

{% block content %}
    <div class="clearfix">
        <a href="{% url 'blogging:delete_blog' blog.slug %}" class="btn btn-danger mb-3 float-right">{% trans "Delete Blog!" %}</a>
    </div>

    <div class="card">
        <div class="card-header">
            {% trans "Create Post" %}
        </div>
        <div class="card-body">
            {% include 'blogging/forms/create_post_form.html' %}
            {{ form.media }}
        </div>
    </div>

{% endblock content %}