<form class="form" id="mailbox_form" action="{% url 'mailbox:new_message' user.pk %}" method="POST">
    {% csrf_token %}

    {% include 'generic/md_form.html' %}
    <button type="button" id="send_mailbox_message" class="btn btn-primary float-right pr-5 pl-5">Send</button>
</form>