<div class="mt-3"></div>

<h4>API:</h4>
<hr />
<div class="clearfix">
    <div class="float-left">
        <p><strong>API-Token: </strong>{{ request.user.auth_token }}</p>
    </div>
    <div class="float-right">
        {% include 'accounts/forms/refresh_api_token_form.html' %}
    </div>
</div>


<div class="mt-5"></div>
<h4>Public Mailbox: </h4>
<small><i>You need to upload a public PGP-Key to receive encrypted messages!</i></small>

<hr />
<div class="clearfix">
    <div class="float-left">
        <p><strong>Status: </strong></p>
    </div>
    <div class="float-right">
        <div class="switch">
            <label>
                Off
                {% if request.user.profile.enable_public_mailbox %}
                    <input type="checkbox" name="update_enable_public_mailbox" id="update_enable_public_mailbox" checked>
                {% else %}
                    <input type="checkbox" id="update_enable_public_mailbox">
                {% endif %}
                <span class="lever"></span> On
            </label>
        </div>
    </div>
</div>


<div class="mt-5"></div>
<h4>Blogging: </h4>
<hr />
<div class="clearfix">
    <div class="float-left">
        <p><strong>Status: </strong></p>
    </div>
    <div class="float-right">
        <div class="switch">
            <label>
                Off
                {% if request.user.blog %}
                    <input type="checkbox" name="update_enable_blogging" id="update_enable_blogging" checked />
                {% else %}
                    <input type="checkbox" id="update_enable_blogging" />
                {% endif %}
                <span class="lever"></span> On
            </label>
        </div>
    </div>
</div>