<!-- Improve this template -->
<div class="my-5">
    <a class="btn btn-outline-primary waves-effect btn-rounded" href="{% url 'accounts:change_email_address' %}">
        Change E-Mail
    </a>
    <a class="btn btn-outline-primary waves-effect btn-rounded" href="{% url 'accounts:change_password' %}">
        Change Password
    </a>
</div>