{% load gravatar %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <section class="my-3">
                <div class="row">
                    {{ user.email|gravatar:250 }}
                </div>
                <div class="row mt-3">
                    <h3>{{ user.username }}</h3>
                </div>
                <div class="row mt-3">
                    {% include 'accounts/sections/profile/services_section.html' %}
                    {# include 'accounts/sections/profile/accepted_donations.html' #}
                    {#  include 'accounts/sections/profile/user_badges.html' #}
                </div>
            </section>
        </div>
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            {% include 'accounts/sections/recent_activities_table.html' %}
        </div>
    </div>
</div>
