<h6 class="my-3">Services</h6>
{% if user.blog %}
    <p><strong>Blog: </strong> <a href="{{ user.blog.get_absolute_url }}">{{ user.blog }}</a></p>
{% endif %}

{% if user.profile.enable_public_mailbox %}
    <p><strong>Contact :</strong> <a href="{% url 'mailbox:new_message' user.pk %}">
        Mailbox
        {% if user.profile.public_key %}
            <i class="fa fa-lock text-success"></i>
        {% else %}
            <i class="fa fa-unlock text-danger"></i>
        {% endif %}
    </a></p>
{% endif %}