{% load i18n %}
<form class="form" method="post" action="{% url 'blogging:delete_blog' blog.slug %}">
    {% csrf_token %}
    <a href="{{ blog.get_absolute_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
    <button class="btn btn-success">{% trans "Delete" %}</button>
</form>