{% load i18n %}

<form class="form" method="POST" action="{% url 'blogging:create_blog' %}">
    {% csrf_token %}
    {% include 'generic/md_form.html' %}
    <button class="btn btn-primary rounded float-right">{% trans "Create" %}</button>
</form>