{% load i18n %}
{% load widget_tweaks %}

{% if form.errors %}
    <div class="alert alert-danger">{{form.errors|escape}}</div>
{% endif %}

<form class="form" method="POST" action="{% url 'blogging:create_post' %}">
    {% csrf_token %}

    {% for field in form %}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
    {% endfor %}

    <button class="btn btn-default float-right">{% trans "Publish" %}</button>
</form>