{% load staticfiles %}
<script src="{% static 'js/openpgp.min.js' %}"></script>
<script>
    var alice;

    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            var $this = $(this);
            $.ajax({
                url: $(this).data('href'),
                type: 'put',
                data: { 'read': true },
                success: function (data) {
                    $this.children('th').children('strong').each(function () {
                        var $this = $(this);
                        var text = $this.text();
                        $this.parent().text(text);
                        $this.remove();
                    });
                    $.ajax({
                        url: $this.data('href-body'),
                        type: "get",
                        success: function (data) {
                            $('#message_body').text(data.message);
                            $('#message_subject').text(data.subject);
                        }
                    });
                }
            });
        });


        $('#decrypt_msg_button').click(function () {
            var msg = $('#message_body').text();
            var alice_private_key = $('#private_key').val();
            openpgp.key.readArmored(alice_private_key).then(function (key) {
                openpgp.message.readArmored(msg).then(function (message) {
                    alice = key;
                    var options = {
                        message: message,
                        privateKeys: alice.keys
                    }
                    console.log(options);
                    openpgp.decrypt(options).then(function (plaintext) {
                        $('#message_body').text(plaintext.data);
                        console.log(plaintext.data);
                    }).catch(function (err) {
                        console.error("could not decrypt message: " + err)
                    });
                }).catch(function(err){
                    console.error("could not read message: " + err)
                });

            }).catch(function (err) {
                console.error("could not load private key: " + err);
            });
        });
    });
</script>