{% load staticfiles %}
<script src="{% static 'js/openpgp.min.js' %}"></script>

<script>
    var alice;

    $.ajax({
        url: "{% url 'api:accounts-api:fetch-public-key' pk=1234 %}".replace(/1234/, "{{ user.pk }}"),
        type: "get",
        success: function (data) {
            if (data.public_key) {
                var key = data.public_key;
                openpgp.key.readArmored(key).then(function (key) {
                    alice = key;
                    $('#enc_notification').removeClass("alert alert-info");
                    $('#enc_notification').addClass("alert alert-success");
                    $('#enc_notification').text("This message will be encrypted! (other data is send in cleartext for now). Also there is no approvement that the key belongs to your partner");
                });

            } else {
                $('#enc_notification').addClass("alert alert-danger");
                $('#enc_notification').text("Could not load crypto keys! This message will NOT be encrypted");
            }
        }
    });

    function enc_message() {
        return new Promise(function (resolve, reject) {
            var msg = $('#id_message').val();
            var options = {
                message: openpgp.message.fromText(msg),       // input as Message object
                publicKeys: alice.keys, // for encryption
            }
            openpgp.encrypt(options).then(ciphertext => {
                //encrypted = ciphertext.data // '-----BEGIN PGP MESSAGE ... END PGP MESSAGE-----'
                var encrypted = ciphertext.data;
                console.log(encrypted)
                resolve(encrypted);
            }).catch(function(err){
                console.log("could not encrypt text: " + err)
            });
        });
    }


    /*var enc_subject = new Promise(function(resolve, reject){
        var params = {
            msg: $('#id_subject').val(),
            encrypt_for: alice_box
        };
        kbpgp.box(params, function(err, result_string, result_buffer){
            $('#id_subject').val(result_string);
            resolve(result_string);
        });
    });


    var enc_sender_mail_address = new Promise(function(resolve, reject){
        var params = {
            msg: $('#id_sender_email_address').val(),
            encrypt_for: alice_box
        };
        kbpgp.box(params, function(err, result_string, result_buffer){
            $('#id_sender_email_address').val(result_string),
            resolve(result_string);
        });
    });*/


    $('#send_mailbox_message').click(function () {
        if (!alice) {
            alert("This message will NOT be encrypted!");
        }
        var encs = [enc_message()];

        Promise.all(encs).then(function (then) {
            $('#id_message').val(then[0]);
            $('#mailbox_form').submit();
        });
    });
</script>