{% extends 'base_no_sidebar.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url 'list_vuln_types' %}>Vulnerability-Types</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
{% endblock breadcrumbs %}



 {% block content %}

    <div class="card">
        <div class="card-header">Create new Vulnerability-Type</div>
        <div class="card-body">
            {% include 'bug_bounty_mode/forms/create_vuln_type_form.html' %}
        </div>
    </div>

 {% endblock content %}