{% extends 'base_no_sidebar.html' %}

{% block title %}Vulnerability Types{% endblock title %}


{% block content %}

    <h3 class="text-center">Vulnerability Types</h3>
    <hr/>

    <div class="clearfix">
        <a href="{% url 'create_new_vuln_type' %}" class="btn btn-sm btn-outline-primary float-right rounded">
            <i class="fa fa-bug"></i>
            Create Vulnerability Type</a>
    </div>

    {% if not vuln_types %}
        <div class="alert alert-info">No vulnerability types yet!</div>
    {% endif %}
    <div class="list-group mt-3">
        {% for vuln_type in vuln_types %}
            <a href="{% url 'single_vuln_type' vuln_type.slug %}" class="list-group-item list-group-item-action">
                <div class="clearfix">
                    <div class="float-left">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ vuln_type }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <small>updated {{ vuln_type.updated_at|timesince }} ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div> 

    {% include 'generic/paginator.html' %}

{% endblock content %}