{% extends 'base_no_sidebar.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url 'bug_bounty_index' %}>Bugs</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'bug_bounty_vuln_by_user' request.user.pk %}">{{request.user.username}}</a>
        </li>
        <li class="breadcrumb-item active">Drafts</li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    {% if not vulnerabilities|length %}
        <div class="alert alert-warning">No unpublished vulnerabilities!</div>
    {% endif %}
    <div class="list-group">
        {% for vuln in vulnerabilities %}
            <a href="{{vuln.get_absolute_url}}" class="list-group-item list-group-item-action">
                {{vuln}}
            </a>
        {% endfor %}
    </div>
{% endblock content %}