{% extends 'base.html' %}

{% block title %}{{ request.project.name }} Tasks {% endblock title %}

{% block content %}
    <h3 class="text-center">Tasks</h3>
    <hr/>

    <div class="clearfix">
        <a href="{% url 'todoz:create_task' %}" class="btn btn-sm btn-outline-primary rounded float-right"><i class="fa fa-plus"></i> New Task</a>
    </div>

    <ul class="nav nav-tabs nav-justified mt-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#open_tasks">
                Open
                <span class="badge badge-pill badge-light">{{ open_tasks.count }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#closed_tasks">
                Closed
                <span class="badge badge-pill badge-light">{{ closed_tasks.count }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#assigned_tasks">
                Assigned to me
                <span class="badge badge-light badge-pill">{{ assigned_tasks.count }}</span>
            </a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane container active" id="open_tasks">
            {% include 'todoz/sections/tasks_list.html' with tasks=open_tasks %}
            {% include 'generic/paginator.html' %}  
        </div>
        <div class="tab-pane container fade" id="closed_tasks">
            {% include 'todoz/sections/tasks_list.html' with tasks=closed_tasks %}
        </div>

        <div class="tab-pane container fade" id="assigned_tasks">
            {% include 'todoz/sections/tasks_list.html' with tasks=assigned_tasks %}
        </div>
    </div>
    
{% endblock content %}