{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{{request.project.name}} Tasks{% endblock title %}

{% block content %}
    <h3 class="text-center">Create new task</h3>
    <hr />

    <div class="mt-5 card">
        <div class="card-body">

            <form class="form" action="{% url 'todoz:create_task' %}" method="POST">
                {% csrf_token %}
                {% include 'generic/form.html' %}
                <button class="btn btn-primary float-right">Submit</button>
            </form>
            {{ form.media }}
        </div>
    </div>
{% endblock content %}