{% extends 'base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url 'all_projects' %}>Projects</a>
        </li>
        <li class="breadcrumb-item">
            <a href={% url 'single_project' %}>{{request.project.name}}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'todoz:all_tasks' %}">Tasks</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'todoz:single_task' task.pk %}">{{ task.title }}</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
{% endblock breadcrumb %}


{% block content %}
    <div class="mt-5 card">
        <div class="card-header">Edit Task</div>
        <div class="card-body">
            {% include 'todoz/forms/edit_task_form.html' %}
        </div>
    </div>
{% endblock content %}