{% extends 'base.html' %}

{% block title %}{{ request.project.name }} Task{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="float-left">
                    {% if task.done %}
                        <div class="badge badge-pill badge-danger">Closed</div>
                    {% else %}
                        <div class="badge badge-pill badge-success">Open</div>
                    {% endif %}
                    Opened {{ task.created_at|timesince }} ago by {{ task.creator }}
                </div>
                <div class="float-right">
                    {% if task.done %}
                        <a href="{% url 'todoz:mark_task_done' task.pk %}" class="btn btn-sm btn-outline-grey">Reopen</a>
                    {% else %}
                        <a href="{% url 'todoz:mark_task_done' task.pk %}" class="btn-sm btn-outline-amber">Close</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="float-left">
                    <h3><b>{{ task.title }}</b></h3>
                </div>
                <div class="float-right">
                    {% if request.user == task.creator %}
                        <a href="{% url 'todoz:edit_task' task.pk %}" class="btn btn-sm btn-outline-grey">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                        <a href="{% url 'todoz:delete_task' task.pk %}" class="btn btn-outline-danger btn-sm">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ task.formatted_markdown|safe }}
        </div>
    </div>

    <hr/>
    {% for comment in task.comment_set.all %}
        <div class="card">
            <div class="card-body">
                {% include 'todoz/sections/comment.html' %}
            </div>
        </div>
    {% endfor %}
    <div class="mt-3">
        {% include 'todoz/forms/create_comment_form.html' with form=new_comment_form %}
        {{ new_comment_form.media }}
    </div>
{% endblock content %}