{% extends 'base.html' %}


{% block content %}
    <div class="card">
        <div class="card-header">Delete Task?</div>
        <div class="card-body">
            <form class="form" action="{% url 'todoz:delete_task' task.pk %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'todoz:single_task' task.pk %}" class="btn btn-default">Cancel</a>
                <button class="btn btn-success">I am sure!</button>
            </form>
        </div>
    </div>
{% endblock content %}
