{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock title %} | CySec</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body class="stylish-color">
    <div style="height: 100vh">
        <div class="d-flex flex-column h-100">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark stylish-color">
                    <a class="navbar-brand" href="{% url 'public_index' %}">Cysec-Framework (Beta)</a>
                    {% include 'navbar_items.html' %}
                </nav>
                {% block header_content %}{%endblock header_content %}
            </header>
            <main class="d-flex flex-column flex-grow">
                <div class="col-sm-12 col-md-8 mx-auto h-100 flex-grow card">
                    <div class="mt-5"></div>
                    <div class="container">
                        {% if messages %}
                            {% for msg in messages %}
                                {% include 'flash.html' with message=msg %}
                            {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </main>
        </div>
    </div>

    {% include 'scripts.html' %}
    {% block extra_scripts %}{% endblock extra_scripts %}
</body>

</html>