{% if msg.level_tag == "error" %}
    <div id="notification" class="alert alert-danger">
        {{ message }}
    </div>
{% else %}
    <div id="notification" class="alert alert-{{msg.level_tag}}">
        {{ message }}
    </div>
{% endif %}

<script>
    setTimeout(function() {
        $('#notification').fadeOut('slow');
    }, 4000);
</script>