<!--Footer-->
<footer class="page-footer text-center font-small mt-4 ">
    <div class="footer-copyright py-3">
        Powered by CySec - Framework {% now "Y" %}
        <a href="https://gitlab.com/cysec-framework/cysec-server" target="_blank"> Gitlab </a>
    </div>
</footer>
<!--/.Footer-->
