
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="nav navbar-nav nav-flex-icons mr-auto text-light">
      <li class="nav-item">
        {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'accounts:dashboard' %}">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        {% else %}
          <a class="nav-link" href="{% url 'public_index' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        {% endif %}
      </li>


      {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pentesting:all-projects' %}"> My Projects</a>
          </li>

      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" id="bug_hunting_dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Bug-Hunting</a>
        <div class="dropdown-menu" aria-labelledby="bug_hunting_dropdown">
          <a class="dropdown-item" href="{% url 'bug_bounty_index' %}">Index</a>
          <a class="dropdown-item" href="{% url 'bug_bounty_list_vulns' %}">List</a>
          <a class="dropdown-item" href="{% url 'bug_bounty_submit' %}">Submit</a>
          {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'list_vuln_types' %}">
                  <span>Vulnerability Types</span>
                </a>
                <a class="dropdown-item" href="{% url 'bug_bounty_list_users_drafts' %}">Drafts</a>
          {% endif %}
        </div>
      </li>

        {% if request.user.is_authenticated and request.user.blog %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="blogging_dropdown" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Blogging</a>
                <div class="dropdown-menu" aria-labelledby="blogging_dropdown">
                    <a class="dropdown-item" href="{% url 'blogging:create_post' %}">New Post</a>
                    <a class="dropdown-item" href="{% url 'blogging:index' request.user.blog.slug %}">View my blog</a>
                </div>
            </li>
        {% endif %}
    </ul>

    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="javascript:alert('not implemented')">
          <i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://teahub.io/cysec/CySec-Server/issues" target="_blank">
          <i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span>
        </a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-user"></i>
            {{request.user.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
            {% if not request.user.blog %}
            <a class="dropdown-item waves-effect waves-light" href="{% url 'blogging:create_blog' %}">Create Blog</a>
            {% endif %}
            <a class="dropdown-item waves-effect waves-light" href="{% url 'accounts:user_profile' request.user.pk %}">Profile</a>
            <a class="dropdown-item waves-effect waves-light" href="{% url 'mailbox:inbox' %}">Mailbox</a>
            <a class="dropdown-item waves-effect waves-light" href="{% url 'accounts:settings' %}">Settings</a>
            <a class="dropdown-item waves-effect waves-light" href="{% url 'accounts:logout_view' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{% url 'accounts:login_view' %}">
            <i class="fa fa-lock"></i> <span class="clearfix d-none d-sm-inline-block">Login</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>