<table id="mailbox_table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Sender</th>
            <th>Received</th>
        </tr>
    </thead>
    <tbody>
        {% for mailbox in mailboxes %}
            <tr class='clickable-row' data-href="{% url 'api:mailbox-api:mark-message-read' mailbox.pk %}" data-href-body="{% url 'api:mailbox-api:message-body' mailbox.pk %}">
                {% if mailbox.read %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <th>{{ mailbox.subject }}</th>
                    <th>{{ mailbox.sender_email_address }}</th>
                    <th>{{ mailbox.send_at }}</th>
                    <th>
                        <a href="{% url 'mailbox:delete-message' mailbox.pk %}" class="btn btn-indigo btn-sm m-0"><i class="fa fa-trash"></i></a>
                    </th>
                {% else %}
                    <th scope="row"><strong>{{ forloop.counter }}</strong></th>
                    <th><strong>{{ mailbox.subject }}</strong></th>
                    <th><strong>{{ mailbox.sender_email_address }}</strong></th>
                    <th><strong>{{ mailbox.send_at }}</strong></th>
                    <th>
                        <a href="{% url 'mailbox:delete-message' mailbox.pk %}" class="btn btn-indigo btn-sm m-0 rounded"><i class="fa fa-trash"></i></a>
                    </th>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>