<div class="card mt-5">
    <div class="card-header" id="message_subject">{{ message.subject }}</div>

    <div class="card-body" id="message_body" style="white-space: pre;">
        {{ message.message | linebreaksbr }}
    </div>
</div>

<div class="form mt-5">
    <label for="private_key">Private Key: </label>
    <textarea class="form-control" id="private_key" rows=10></textarea>

    <button class="btn btn-sm btn-primary rounded" id="decrypt_msg_button">Decrypt</button>
</div>
