{% load i18n %}
{% if access_token_form.errors %}
    <div class="alert alert-danger">
        {{ access_token_form.errors|escape }}
    </div>
{% endif %}
{% if access_token_form %}
    <form class="form" action="{% url 'bug_bounty_check_access_token' %}" method="POST">
        {% csrf_token %}
        {% include 'generic/md_form.html' with form=access_token_form %}
        <div class="clearfix">
            <button class="btn btn-sm btn-primary rounded float-right">{% trans "Show details" %}</button>
        </div>
    </form>
{% endif %}