{% load i18n %}
{% if new_comment_form.errors %}
    <div class="alert alert-danger">{{new_comment_form.errors|escape}}</div>
{% endif %}
<form action="{% url 'bug_bounty_comment_vuln' vuln.pk %}" method="POST">
    {% csrf_token %}
    {% include 'generic/form.html' with form=new_comment_form %}
    <button class="btn btn-primary rounded form-control">{% trans "Publish" %}</button>
</form>
