{% if resend_email_form.errors %}
    <div class="alert alert-danger">{{resend_email_form.errors|escape}}</div>
{% endif %}
<form class="form-inline float-right" action="{% url 'bug_bounty_resend_email_view' vuln.pk %}" method="POST">
    {% csrf_token %}
    {{ resend_email_form }}
    <button class="btn btn-primary btn-sm rounded">
        <i class="fa fa-paper-plane"></i>
        Resend E-Mail
    </button>
</form>