{% extends 'base_no_sidebar.html' %}


{% block title %}My Mailbox{% endblock title %}


{% block content %}

    <h3 class="text-center">Inbox</h3>
    <hr/>
    {% if not mailboxes %}
        <div class="alert alert-info">No messages!</div>
    {% else %}
        {% include 'cymailbox/sections/inbox_table.html' %}
    {% endif %}

    <hr class="mt-5" />
    <div class="alert alert-warning">
        Only decrypt messages through the webinterface, if you know that this script is valid!
    </div>
    {% if mailboxes %}
        {% include 'cymailbox/sections/message.html' with message=mailboxes.0 %}
    {% endif %}
    
    {% include 'generic/paginator.html' %}

{% endblock content %}

{% block extra_scripts %}
    {% include 'cymailbox/javascript/inbox.html' %}
{% endblock extra_scripts %}