<div class="markdownx">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#write">Write</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#preview">Preview</a>
        </li>
      </ul>
    <!-- Tab panes -->
    <div class="tab-content mt-5">
        <div class="tab-pane container active" id="write">
            <div class="form-group">
                {% include 'django/forms/widgets/textarea.html' %}
            </div>
        </div>
        <div class="tab-pane container fade" id="preview">
            <div class="markdownx-preview"></div>

        </div>
      </div>
</div>