{% extends 'base.html' %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
  <div class="col-sm-12 col-md-8 mx-auto">
    <div class="card">
      <div class="card-header">Password Reset</div>
      <div class="card-body">
        <p>
          Your password has been set. You may go ahead and <a href="{% url 'login_view' %}">sign in</a> now.
        </p>
      </div>
    </div>
  </div>
{% endblock %}