<script>

    function get_colors(amount=10){
        colors = [];
        for(var i=0; i<amount; i++){
            colors.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
        }
        return colors;
    }


    function fill_most_vulnerable_domains_chart(data){
        Highcharts.chart('most_vulnerable_domains_chart', {
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            colors: get_colors(),
            credits: false,
            xAxis: {
                type: 'category',
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Bug Bounty reported vulnerabilities'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Bug Bounty: <b>{point.y} vulnerabilities</b>'
            },
            series: [{
                name: 'Bugs',
                data: data  
            }],
        });

    }
    //$('#most_vulnerable_domains_chart').addClass("mx-auto loader");
	$.ajax({
		url: "{% url 'api:most_vulnerable_domains' %}",
		type: "get",
		success: function(data){
            var new_data = []
            $.each(data, function(index, value){
                new_data.push({name: value.domain, color: get_colors(1)[0], y:value.count})
            });
			$('#most_vulnerable_domains_chart').removeClass("mx-auto loader");
			fill_most_vulnerable_domains_chart(new_data);
		}
	});
</script>
