<script>


	function data_to_percent(total, value){
        return value * 100 / total;
    }

    function get_colors(amount=10){
        colors = [];
        for(var i=0; i<amount; i++){
            colors.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
        }
        return colors;
    }

	function fill_chart(data){
		// Build the chart
		Highcharts.chart('top_bug_bounty_vuln_types_chart', {
			chart: {
				plotBackgroundColor: null,
				backgroundColor:'rgba(255, 255, 255, 0.0)',
				plotBorderWidth: null,
				plotShadow: false,
				renderTo: 'top_bug_bounty_vuln_types_chart',
				type: 'pie',
			},
			title: {
				text: ''
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			credits: false,
			colors: get_colors(),
			plotOptions: {
				pie: {
					allowPointSelect: false,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.1f} %',
						style: {
							color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
						},
						connectorColor: 'silver'
					}
				}
			},
			series: [{
				name: 'Vulnerabilities',
				data: data
			}]
		});
	}

	//$('#top_bug_bounty_vuln_types_chart').addClass("mx-auto loader");
	$.ajax({
		url: "{% url 'api:top_bug_bounty_vuln_types' %}",
		type: "get",
		success: function(data){
			var percentage = [];
			$.each(data.result, function(index, value){
				percentage.push({
					name: data.result[index].name,
					y: data_to_percent(data.total, data.result[index].count)})
			});
			$('#top_bug_bounty_vuln_types_chart').removeClass("mx-auto loader");
			fill_chart(percentage);
		}
	});
</script>