<script>

    function get_colors(amount=10){
        colors = [];
        for(var i=0; i<amount; i++){
            colors.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
        }
        return colors;
    }


    function fill_top_bug_bounty_users_chart(data){
        Highcharts.chart('top_bug_bounty_users_chart', {
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            plotOptions: {
                column: {
                    colorByPoint: true
                }
            },
            colors: get_colors(),
            credits: false,
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Bug Bounty reported vulnerabilities'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Bug Bounty: <b>{point.y} vulnerabilities</b>'
            },
            series: [{
                name: 'Bugs',
                data: data,
            }]
        });

    }
	$.ajax({
		url: "{% url 'api:top_users_by_bug_bounty_vulns' %}",
		type: "get",
		success: function(data){
            var new_data = []
            $.each(data, function(index, value){
                new_data.push([value.username, value.count])
            });
			$('#top_bug_bounty_users_chart').removeClass("mx-auto loader");
			fill_top_bug_bounty_users_chart(new_data);
		}
	});
</script>
