{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">

<style>
    html, body, header, .view {
        height: 100%;
    }

    @media (max-width: 740px) {
        html, body, header, .view {
            height: 1000px;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        html, body, header, .view {
            height: 600px;
        }
    }

    .btn .fa {
        margin-left: 3px;
    }

    .top-nav-collapse {
        background-color: #424f95 !important;
    }

    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
            background: #424f95 !important;
        }
    }

    .btn-white {
        color: black !important;
    }

    h6 {
        line-height: 1.7;
    }

    .rgba-gradient {
        background: -moz-linear-gradient(45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
        background: -webkit-linear-gradient(45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
        background: -webkit-gradient(linear, 45deg, from(rgba(44, 38, 92, 0.7)), to(rgba(55, 61, 60, 0.7)));
        background: -o-linear-gradient(45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
        background: linear-gradient(to 45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
    }

</style>
